{{!< default}}
{{!-- Static page template --}}

<article class="page-content {{post_class}}">
    
    {{!-- Page header --}}
    <header class="page-header">
        {{#if feature_image}}
        <div class="page-image">
            <img src="{{img_url feature_image size="xl"}}" alt="{{title}}" class="page-feature-image">
        </div>
        {{/if}}
        
        <div class="page-header-content">
            <h1 class="page-title">{{title}}</h1>
            
            {{#if custom_excerpt}}
            <p class="page-excerpt">{{custom_excerpt}}</p>
            {{/if}}
            
            <div class="page-meta">
                <time class="page-date" datetime="{{date format="YYYY-MM-DD"}}">
                    {{#if updated_at}}
                    Updated {{date updated_at format="MMM DD, YYYY"}}
                    {{else}}
                    Published {{date format="MMM DD, YYYY"}}
                    {{/if}}
                </time>
                {{#if reading_time}}
                <span class="page-reading-time">{{reading_time}}</span>
                {{/if}}
            </div>
        </div>
    </header>
    
    {{!-- Page content --}}
    <div class="page-body">
        {{content}}
    </div>
    
    {{!-- Page footer --}}
    <footer class="page-footer">
        {{!-- Tags for pages (if any) --}}
        {{#if tags}}
        <div class="page-tags">
            <span class="tags-label">Tagged in:</span>
            {{#foreach tags}}
            <a href="{{url}}" class="tag-link">{{name}}</a>
            {{/foreach}}
        </div>
        {{/if}}
        
        {{!-- Subscribe CTA for pages --}}
        {{#if @site.members_enabled}}
        <div class="subscribe-cta">
            <h3>Stay in the loop</h3>
            <p>Subscribe to get the latest content by email.</p>
            <a href="#/portal/signup" class="subscribe-button" data-portal="signup">
                Subscribe
            </a>
        </div>
        {{/if}}
        
        {{!-- Social sharing --}}
        <div class="page-share">
            <h4>Share this page</h4>
            <div class="share-buttons">
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute="true"}}" 
                   target="_blank" rel="noopener" class="share-twitter">
                    Twitter
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" 
                   target="_blank" rel="noopener" class="share-facebook">
                    Facebook
                </a>
                <a href="mailto:?subject={{encode title}}&body={{url absolute="true"}}" 
                   class="share-email">
                    Email
                </a>
            </div>
        </div>
    </footer>
    
</article> 